.icon-intlpn-flag {
  width: 48px; }

.icon-intlpn-flag:before {
  content: '';
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle; }

.icon-intlpn-flag.np:before {
  background-color: transparent; }

.icon-intlpn-flag:before, .icon-intlpn-flag.ad:before, .icon-intlpn-flag.ae:before, .icon-intlpn-flag.af:before, .icon-intlpn-flag.ag:before, .icon-intlpn-flag.ai:before, .icon-intlpn-flag.al:before, .icon-intlpn-flag.am:before, .icon-intlpn-flag.an:before, .icon-intlpn-flag.ao:before, .icon-intlpn-flag.aq:before, .icon-intlpn-flag.ar:before, .icon-intlpn-flag.as:before, .icon-intlpn-flag.at:before, .icon-intlpn-flag.au:before, .icon-intlpn-flag.aw:before, .icon-intlpn-flag.ax:before, .icon-intlpn-flag.az:before, .icon-intlpn-flag.ba:before, .icon-intlpn-flag.bb:before, .icon-intlpn-flag.bd:before, .icon-intlpn-flag.be:before, .icon-intlpn-flag.bf:before, .icon-intlpn-flag.bg:before, .icon-intlpn-flag.bh:before, .icon-intlpn-flag.bi:before, .icon-intlpn-flag.bj:before, .icon-intlpn-flag.bl:before, .icon-intlpn-flag.bm:before, .icon-intlpn-flag.bn:before, .icon-intlpn-flag.bo:before, .icon-intlpn-flag.br:before, .icon-intlpn-flag.bs:before, .icon-intlpn-flag.bt:before, .icon-intlpn-flag.bw:before, .icon-intlpn-flag.by:before, .icon-intlpn-flag.bz:before, .icon-intlpn-flag.ca:before, .icon-intlpn-flag.cc:before, .icon-intlpn-flag.cd:before, .icon-intlpn-flag.cf:before, .icon-intlpn-flag.cg:before, .icon-intlpn-flag.ch:before, .icon-intlpn-flag.ci:before, .icon-intlpn-flag.ck:before, .icon-intlpn-flag.cl:before, .icon-intlpn-flag.cm:before, .icon-intlpn-flag.cn:before, .icon-intlpn-flag.co:before, .icon-intlpn-flag.cr:before, .icon-intlpn-flag.cu:before, .icon-intlpn-flag.cv:before, .icon-intlpn-flag.cw:before, .icon-intlpn-flag.cx:before, .icon-intlpn-flag.cy:before, .icon-intlpn-flag.cz:before, .icon-intlpn-flag.de:before, .icon-intlpn-flag.dj:before, .icon-intlpn-flag.dk:before, .icon-intlpn-flag.dm:before, .icon-intlpn-flag.do:before, .icon-intlpn-flag.dz:before, .icon-intlpn-flag.ec:before, .icon-intlpn-flag.ee:before, .icon-intlpn-flag.eg:before, .icon-intlpn-flag.eh:before, .icon-intlpn-flag.er:before, .icon-intlpn-flag.es:before, .icon-intlpn-flag.et:before, .icon-intlpn-flag.eu:before, .icon-intlpn-flag.fi:before, .icon-intlpn-flag.fj:before, .icon-intlpn-flag.fk:before, .icon-intlpn-flag.fm:before, .icon-intlpn-flag.fo:before, .icon-intlpn-flag.fr:before, .icon-intlpn-flag.ga:before, .icon-intlpn-flag.gb:before, .icon-intlpn-flag.gd:before, .icon-intlpn-flag.ge:before, .icon-intlpn-flag.gg:before, .icon-intlpn-flag.gh:before, .icon-intlpn-flag.gi:before, .icon-intlpn-flag.gl:before, .icon-intlpn-flag.gm:before, .icon-intlpn-flag.gn:before, .icon-intlpn-flag.gq:before, .icon-intlpn-flag.gr:before, .icon-intlpn-flag.gs:before, .icon-intlpn-flag.gt:before, .icon-intlpn-flag.gu:before, .icon-intlpn-flag.gw:before, .icon-intlpn-flag.gy:before, .icon-intlpn-flag.hk:before, .icon-intlpn-flag.hn:before, .icon-intlpn-flag.hr:before, .icon-intlpn-flag.ht:before, .icon-intlpn-flag.hu:before, .icon-intlpn-flag.ic:before, .icon-intlpn-flag.id:before, .icon-intlpn-flag.ie:before, .icon-intlpn-flag.il:before, .icon-intlpn-flag.im:before, .icon-intlpn-flag.in:before, .icon-intlpn-flag.iq:before, .icon-intlpn-flag.ir:before, .icon-intlpn-flag.is:before, .icon-intlpn-flag.it:before, .icon-intlpn-flag.je:before, .icon-intlpn-flag.jm:before, .icon-intlpn-flag.jo:before, .icon-intlpn-flag.jp:before, .icon-intlpn-flag.ke:before, .icon-intlpn-flag.kg:before, .icon-intlpn-flag.kh:before, .icon-intlpn-flag.ki:before, .icon-intlpn-flag.km:before, .icon-intlpn-flag.kn:before, .icon-intlpn-flag.kp:before, .icon-intlpn-flag.kr:before, .icon-intlpn-flag.kw:before, .icon-intlpn-flag.ky:before, .icon-intlpn-flag.kz:before, .icon-intlpn-flag.la:before, .icon-intlpn-flag.lb:before, .icon-intlpn-flag.lc:before, .icon-intlpn-flag.li:before, .icon-intlpn-flag.lk:before, .icon-intlpn-flag.lr:before, .icon-intlpn-flag.ls:before, .icon-intlpn-flag.lt:before, .icon-intlpn-flag.lu:before, .icon-intlpn-flag.lv:before, .icon-intlpn-flag.ly:before, .icon-intlpn-flag.ma:before, .icon-intlpn-flag.mc:before, .icon-intlpn-flag.md:before, .icon-intlpn-flag.me:before, .icon-intlpn-flag.mf:before, .icon-intlpn-flag.mg:before, .icon-intlpn-flag.mh:before, .icon-intlpn-flag.mk:before, .icon-intlpn-flag.ml:before, .icon-intlpn-flag.mm:before, .icon-intlpn-flag.mn:before, .icon-intlpn-flag.mo:before, .icon-intlpn-flag.mp:before, .icon-intlpn-flag.mq:before, .icon-intlpn-flag.mr:before, .icon-intlpn-flag.ms:before, .icon-intlpn-flag.mt:before, .icon-intlpn-flag.mu:before, .icon-intlpn-flag.mv:before, .icon-intlpn-flag.mw:before, .icon-intlpn-flag.mx:before, .icon-intlpn-flag.my:before, .icon-intlpn-flag.mz:before, .icon-intlpn-flag.na:before, .icon-intlpn-flag.nc:before, .icon-intlpn-flag.ne:before, .icon-intlpn-flag.nf:before, .icon-intlpn-flag.ng:before, .icon-intlpn-flag.ni:before, .icon-intlpn-flag.nl:before, .icon-intlpn-flag.no:before, .icon-intlpn-flag.np:before, .icon-intlpn-flag.nr:before, .icon-intlpn-flag.nu:before, .icon-intlpn-flag.nz:before, .icon-intlpn-flag.om:before, .icon-intlpn-flag.pa:before, .icon-intlpn-flag.pe:before, .icon-intlpn-flag.pf:before, .icon-intlpn-flag.pg:before, .icon-intlpn-flag.ph:before, .icon-intlpn-flag.pk:before, .icon-intlpn-flag.pl:before, .icon-intlpn-flag.pn:before, .icon-intlpn-flag.pr:before, .icon-intlpn-flag.ps:before, .icon-intlpn-flag.pt:before, .icon-intlpn-flag.pw:before, .icon-intlpn-flag.py:before, .icon-intlpn-flag.qa:before, .icon-intlpn-flag.ro:before, .icon-intlpn-flag.rs:before, .icon-intlpn-flag.ru:before, .icon-intlpn-flag.rw:before, .icon-intlpn-flag.sa:before, .icon-intlpn-flag.sb:before, .icon-intlpn-flag.sc:before, .icon-intlpn-flag.sd:before, .icon-intlpn-flag.se:before, .icon-intlpn-flag.sg:before, .icon-intlpn-flag.sh:before, .icon-intlpn-flag.si:before, .icon-intlpn-flag.sk:before, .icon-intlpn-flag.sl:before, .icon-intlpn-flag.sm:before, .icon-intlpn-flag.sn:before, .icon-intlpn-flag.so:before, .icon-intlpn-flag.sr:before, .icon-intlpn-flag.ss:before, .icon-intlpn-flag.st:before, .icon-intlpn-flag.sv:before, .icon-intlpn-flag.sy:before, .icon-intlpn-flag.sz:before, .icon-intlpn-flag.tc:before, .icon-intlpn-flag.td:before, .icon-intlpn-flag.tf:before, .icon-intlpn-flag.tg:before, .icon-intlpn-flag.th:before, .icon-intlpn-flag.tj:before, .icon-intlpn-flag.tk:before, .icon-intlpn-flag.tl:before, .icon-intlpn-flag.tm:before, .icon-intlpn-flag.tn:before, .icon-intlpn-flag.to:before, .icon-intlpn-flag.tr:before, .icon-intlpn-flag.tt:before, .icon-intlpn-flag.tv:before, .icon-intlpn-flag.tw:before, .icon-intlpn-flag.tz:before, .icon-intlpn-flag.ua:before, .icon-intlpn-flag.ug:before, .icon-intlpn-flag.us:before, .icon-intlpn-flag.uy:before, .icon-intlpn-flag.uz:before, .icon-intlpn-flag.va:before, .icon-intlpn-flag.vc:before, .icon-intlpn-flag.ve:before, .icon-intlpn-flag.vg:before, .icon-intlpn-flag.vi:before, .icon-intlpn-flag.vn:before, .icon-intlpn-flag.vu:before, .icon-intlpn-flag.wf:before, .icon-intlpn-flag.ws:before, .icon-intlpn-flag.ye:before, .icon-intlpn-flag.yt:before, .icon-intlpn-flag.za:before, .icon-intlpn-flag.zm:before, .icon-intlpn-flag.zw:before, .icon-intlpn-flag._abkhazia:before, .icon-intlpn-flag._basque-country:before, .icon-intlpn-flag._british-antarctic-territory:before, .icon-intlpn-flag._commonwealth:before, .icon-intlpn-flag._england:before, .icon-intlpn-flag._gosquared:before, .icon-intlpn-flag._kosovo:before, .icon-intlpn-flag._mars:before, .icon-intlpn-flag._nagorno-karabakh:before, .icon-intlpn-flag._nato:before, .icon-intlpn-flag._northern-cyprus:before, .icon-intlpn-flag._olympics:before, .icon-intlpn-flag._red-cross:before, .icon-intlpn-flag._scotland:before, .icon-intlpn-flag._somaliland:before, .icon-intlpn-flag._south-ossetia:before, .icon-intlpn-flag._united-nations:before, .icon-intlpn-flag._unknown:before, .icon-intlpn-flag._wales:before, .icon-intlpn-flag.io:before, .icon-intlpn-flag.bq:before, .icon-intlpn-flag.gf:before, .icon-intlpn-flag.gp:before, .icon-intlpn-flag.re:before, .icon-intlpn-flag.pm:before, .icon-intlpn-flag.sx:before {
  background-image: url("../img/intlpn-flags.png");
  background-repeat: no-repeat;
  background-size: 32px 8544px;
  height: 32px;
  width: 32px;
  background-position: 0 -8480px; }

.icon-intlpn-flag.none:before {
  background-image: none;
  background-color: #f8f8f8;
  content: '?';
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  color: #999;
  font-weight: bold; }
.icon-intlpn-flag.ad:before {
  background-position: 0 0; }
.icon-intlpn-flag.ae:before {
  background-position: 0 -32px; }
.icon-intlpn-flag.af:before {
  background-position: 0 -64px; }
.icon-intlpn-flag.ag:before {
  background-position: 0 -96px; }
.icon-intlpn-flag.ai:before {
  background-position: 0 -128px; }
.icon-intlpn-flag.al:before {
  background-position: 0 -160px; }
.icon-intlpn-flag.am:before {
  background-position: 0 -192px; }
.icon-intlpn-flag.an:before {
  background-position: 0 -224px; }
.icon-intlpn-flag.ao:before {
  background-position: 0 -256px; }
.icon-intlpn-flag.aq:before {
  background-position: 0 -288px; }
.icon-intlpn-flag.ar:before {
  background-position: 0 -320px; }
.icon-intlpn-flag.as:before {
  background-position: 0 -352px; }
.icon-intlpn-flag.at:before {
  background-position: 0 -384px; }
.icon-intlpn-flag.au:before {
  background-position: 0 -416px; }
.icon-intlpn-flag.aw:before {
  background-position: 0 -448px; }
.icon-intlpn-flag.ax:before {
  background-position: 0 -480px; }
.icon-intlpn-flag.az:before {
  background-position: 0 -512px; }
.icon-intlpn-flag.ba:before {
  background-position: 0 -544px; }
.icon-intlpn-flag.bb:before {
  background-position: 0 -576px; }
.icon-intlpn-flag.bd:before {
  background-position: 0 -608px; }
.icon-intlpn-flag.be:before {
  background-position: 0 -640px; }
.icon-intlpn-flag.bf:before {
  background-position: 0 -672px; }
.icon-intlpn-flag.bg:before {
  background-position: 0 -704px; }
.icon-intlpn-flag.bh:before {
  background-position: 0 -736px; }
.icon-intlpn-flag.bi:before {
  background-position: 0 -768px; }
.icon-intlpn-flag.bj:before {
  background-position: 0 -800px; }
.icon-intlpn-flag.bl:before {
  background-position: 0 -832px; }
.icon-intlpn-flag.bm:before {
  background-position: 0 -864px; }
.icon-intlpn-flag.bn:before {
  background-position: 0 -896px; }
.icon-intlpn-flag.bo:before {
  background-position: 0 -928px; }
.icon-intlpn-flag.bq:before {
  background-position: 0 -960px; }
.icon-intlpn-flag.br:before {
  background-position: 0 -992px; }
.icon-intlpn-flag.bs:before {
  background-position: 0 -1024px; }
.icon-intlpn-flag.bt:before {
  background-position: 0 -1056px; }
.icon-intlpn-flag.bw:before {
  background-position: 0 -1088px; }
.icon-intlpn-flag.by:before {
  background-position: 0 -1120px; }
.icon-intlpn-flag.bz:before {
  background-position: 0 -1152px; }
.icon-intlpn-flag.ca:before {
  background-position: 0 -1184px; }
.icon-intlpn-flag.cc:before {
  background-position: 0 -1216px; }
.icon-intlpn-flag.cd:before {
  background-position: 0 -1248px; }
.icon-intlpn-flag.cf:before {
  background-position: 0 -1280px; }
.icon-intlpn-flag.cg:before {
  background-position: 0 -1312px; }
.icon-intlpn-flag.ch:before {
  background-position: 0 -1344px; }
.icon-intlpn-flag.ci:before {
  background-position: 0 -1376px; }
.icon-intlpn-flag.ck:before {
  background-position: 0 -1408px; }
.icon-intlpn-flag.cl:before {
  background-position: 0 -1440px; }
.icon-intlpn-flag.cm:before {
  background-position: 0 -1472px; }
.icon-intlpn-flag.cn:before {
  background-position: 0 -1504px; }
.icon-intlpn-flag.co:before {
  background-position: 0 -1536px; }
.icon-intlpn-flag.cr:before {
  background-position: 0 -1568px; }
.icon-intlpn-flag.cu:before {
  background-position: 0 -1600px; }
.icon-intlpn-flag.cv:before {
  background-position: 0 -1632px; }
.icon-intlpn-flag.cw:before {
  background-position: 0 -1664px; }
.icon-intlpn-flag.cx:before {
  background-position: 0 -1696px; }
.icon-intlpn-flag.cy:before {
  background-position: 0 -1728px; }
.icon-intlpn-flag.cz:before {
  background-position: 0 -1760px; }
.icon-intlpn-flag.de:before {
  background-position: 0 -1792px; }
.icon-intlpn-flag.dj:before {
  background-position: 0 -1824px; }
.icon-intlpn-flag.dk:before {
  background-position: 0 -1856px; }
.icon-intlpn-flag.dm:before {
  background-position: 0 -1888px; }
.icon-intlpn-flag.do:before {
  background-position: 0 -1920px; }
.icon-intlpn-flag.dz:before {
  background-position: 0 -1952px; }
.icon-intlpn-flag.ec:before {
  background-position: 0 -1984px; }
.icon-intlpn-flag.ee:before {
  background-position: 0 -2016px; }
.icon-intlpn-flag.eg:before {
  background-position: 0 -2048px; }
.icon-intlpn-flag.eh:before {
  background-position: 0 -2080px; }
.icon-intlpn-flag.er:before {
  background-position: 0 -2112px; }
.icon-intlpn-flag.es:before {
  background-position: 0 -2144px; }
.icon-intlpn-flag.et:before {
  background-position: 0 -2176px; }
.icon-intlpn-flag.eu:before {
  background-position: 0 -2208px; }
.icon-intlpn-flag.fi:before {
  background-position: 0 -2240px; }
.icon-intlpn-flag.fj:before {
  background-position: 0 -2272px; }
.icon-intlpn-flag.fk:before {
  background-position: 0 -2304px; }
.icon-intlpn-flag.fm:before {
  background-position: 0 -2336px; }
.icon-intlpn-flag.fo:before {
  background-position: 0 -2368px; }
.icon-intlpn-flag.fr:before {
  background-position: 0 -2400px; }
.icon-intlpn-flag.ga:before {
  background-position: 0 -2432px; }
.icon-intlpn-flag.gb:before {
  background-position: 0 -2464px; }
.icon-intlpn-flag.gd:before {
  background-position: 0 -2496px; }
.icon-intlpn-flag.ge:before {
  background-position: 0 -2528px; }
.icon-intlpn-flag.gf:before {
  background-position: 0 -2560px; }
.icon-intlpn-flag.gg:before {
  background-position: 0 -2592px; }
.icon-intlpn-flag.gh:before {
  background-position: 0 -2624px; }
.icon-intlpn-flag.gi:before {
  background-position: 0 -2656px; }
.icon-intlpn-flag.gl:before {
  background-position: 0 -2688px; }
.icon-intlpn-flag.gm:before {
  background-position: 0 -2720px; }
.icon-intlpn-flag.gn:before {
  background-position: 0 -2752px; }
.icon-intlpn-flag.gp:before {
  background-position: 0 -2784px; }
.icon-intlpn-flag.gq:before {
  background-position: 0 -2816px; }
.icon-intlpn-flag.gr:before {
  background-position: 0 -2848px; }
.icon-intlpn-flag.gs:before {
  background-position: 0 -2880px; }
.icon-intlpn-flag.gt:before {
  background-position: 0 -2912px; }
.icon-intlpn-flag.gu:before {
  background-position: 0 -2944px; }
.icon-intlpn-flag.gw:before {
  background-position: 0 -2976px; }
.icon-intlpn-flag.gy:before {
  background-position: 0 -3008px; }
.icon-intlpn-flag.hk:before {
  background-position: 0 -3040px; }
.icon-intlpn-flag.hn:before {
  background-position: 0 -3072px; }
.icon-intlpn-flag.hr:before {
  background-position: 0 -3104px; }
.icon-intlpn-flag.ht:before {
  background-position: 0 -3136px; }
.icon-intlpn-flag.hu:before {
  background-position: 0 -3168px; }
.icon-intlpn-flag.ic:before {
  background-position: 0 -3200px; }
.icon-intlpn-flag.id:before {
  background-position: 0 -3232px; }
.icon-intlpn-flag.ie:before {
  background-position: 0 -3264px; }
.icon-intlpn-flag.il:before {
  background-position: 0 -3296px; }
.icon-intlpn-flag.im:before {
  background-position: 0 -3328px; }
.icon-intlpn-flag.in:before {
  background-position: 0 -3360px; }
.icon-intlpn-flag.io:before {
  background-position: 0 -3392px; }
.icon-intlpn-flag.iq:before {
  background-position: 0 -3424px; }
.icon-intlpn-flag.ir:before {
  background-position: 0 -3456px; }
.icon-intlpn-flag.is:before {
  background-position: 0 -3488px; }
.icon-intlpn-flag.it:before {
  background-position: 0 -3520px; }
.icon-intlpn-flag.je:before {
  background-position: 0 -3552px; }
.icon-intlpn-flag.jm:before {
  background-position: 0 -3584px; }
.icon-intlpn-flag.jo:before {
  background-position: 0 -3616px; }
.icon-intlpn-flag.jp:before {
  background-position: 0 -3648px; }
.icon-intlpn-flag.ke:before {
  background-position: 0 -3680px; }
.icon-intlpn-flag.kg:before {
  background-position: 0 -3712px; }
.icon-intlpn-flag.kh:before {
  background-position: 0 -3744px; }
.icon-intlpn-flag.ki:before {
  background-position: 0 -3776px; }
.icon-intlpn-flag.km:before {
  background-position: 0 -3808px; }
.icon-intlpn-flag.kn:before {
  background-position: 0 -3840px; }
.icon-intlpn-flag.kp:before {
  background-position: 0 -3872px; }
.icon-intlpn-flag.kr:before {
  background-position: 0 -3904px; }
.icon-intlpn-flag.kw:before {
  background-position: 0 -3936px; }
.icon-intlpn-flag.ky:before {
  background-position: 0 -3968px; }
.icon-intlpn-flag.kz:before {
  background-position: 0 -4000px; }
.icon-intlpn-flag.la:before {
  background-position: 0 -4032px; }
.icon-intlpn-flag.lb:before {
  background-position: 0 -4064px; }
.icon-intlpn-flag.lc:before {
  background-position: 0 -4096px; }
.icon-intlpn-flag.li:before {
  background-position: 0 -4128px; }
.icon-intlpn-flag.lk:before {
  background-position: 0 -4160px; }
.icon-intlpn-flag.lr:before {
  background-position: 0 -4192px; }
.icon-intlpn-flag.ls:before {
  background-position: 0 -4224px; }
.icon-intlpn-flag.lt:before {
  background-position: 0 -4256px; }
.icon-intlpn-flag.lu:before {
  background-position: 0 -4288px; }
.icon-intlpn-flag.lv:before {
  background-position: 0 -4320px; }
.icon-intlpn-flag.ly:before {
  background-position: 0 -4352px; }
.icon-intlpn-flag.ma:before {
  background-position: 0 -4384px; }
.icon-intlpn-flag.mc:before {
  background-position: 0 -4416px; }
.icon-intlpn-flag.md:before {
  background-position: 0 -4448px; }
.icon-intlpn-flag.me:before {
  background-position: 0 -4480px; }
.icon-intlpn-flag.mf:before {
  background-position: 0 -4512px; }
.icon-intlpn-flag.mg:before {
  background-position: 0 -4544px; }
.icon-intlpn-flag.mh:before {
  background-position: 0 -4576px; }
.icon-intlpn-flag.mk:before {
  background-position: 0 -4608px; }
.icon-intlpn-flag.ml:before {
  background-position: 0 -4640px; }
.icon-intlpn-flag.mm:before {
  background-position: 0 -4672px; }
.icon-intlpn-flag.mn:before {
  background-position: 0 -4704px; }
.icon-intlpn-flag.mo:before {
  background-position: 0 -4736px; }
.icon-intlpn-flag.mp:before {
  background-position: 0 -4768px; }
.icon-intlpn-flag.mq:before {
  background-position: 0 -4800px; }
.icon-intlpn-flag.mr:before {
  background-position: 0 -4832px; }
.icon-intlpn-flag.ms:before {
  background-position: 0 -4864px; }
.icon-intlpn-flag.mt:before {
  background-position: 0 -4896px; }
.icon-intlpn-flag.mu:before {
  background-position: 0 -4928px; }
.icon-intlpn-flag.mv:before {
  background-position: 0 -4960px; }
.icon-intlpn-flag.mw:before {
  background-position: 0 -4992px; }
.icon-intlpn-flag.mx:before {
  background-position: 0 -5024px; }
.icon-intlpn-flag.my:before {
  background-position: 0 -5056px; }
.icon-intlpn-flag.mz:before {
  background-position: 0 -5088px; }
.icon-intlpn-flag.na:before {
  background-position: 0 -5120px; }
.icon-intlpn-flag.nc:before {
  background-position: 0 -5152px; }
.icon-intlpn-flag.ne:before {
  background-position: 0 -5184px; }
.icon-intlpn-flag.nf:before {
  background-position: 0 -5216px; }
.icon-intlpn-flag.ng:before {
  background-position: 0 -5248px; }
.icon-intlpn-flag.ni:before {
  background-position: 0 -5280px; }
.icon-intlpn-flag.nl:before {
  background-position: 0 -5312px; }
.icon-intlpn-flag.no:before {
  background-position: 0 -5344px; }
.icon-intlpn-flag.np:before {
  background-position: 0 -5376px; }
.icon-intlpn-flag.nr:before {
  background-position: 0 -5408px; }
.icon-intlpn-flag.nu:before {
  background-position: 0 -5440px; }
.icon-intlpn-flag.nz:before {
  background-position: 0 -5472px; }
.icon-intlpn-flag.om:before {
  background-position: 0 -5504px; }
.icon-intlpn-flag.pa:before {
  background-position: 0 -5536px; }
.icon-intlpn-flag.pe:before {
  background-position: 0 -5568px; }
.icon-intlpn-flag.pf:before {
  background-position: 0 -5600px; }
.icon-intlpn-flag.pg:before {
  background-position: 0 -5632px; }
.icon-intlpn-flag.ph:before {
  background-position: 0 -5664px; }
.icon-intlpn-flag.pk:before {
  background-position: 0 -5696px; }
.icon-intlpn-flag.pl:before {
  background-position: 0 -5728px; }
.icon-intlpn-flag.pm:before {
  background-position: 0 -5760px; }
.icon-intlpn-flag.pn:before {
  background-position: 0 -5792px; }
.icon-intlpn-flag.pr:before {
  background-position: 0 -5824px; }
.icon-intlpn-flag.ps:before {
  background-position: 0 -5856px; }
.icon-intlpn-flag.pt:before {
  background-position: 0 -5888px; }
.icon-intlpn-flag.pw:before {
  background-position: 0 -5920px; }
.icon-intlpn-flag.py:before {
  background-position: 0 -5952px; }
.icon-intlpn-flag.qa:before {
  background-position: 0 -5984px; }
.icon-intlpn-flag.re:before {
  background-position: 0 -6016px; }
.icon-intlpn-flag.ro:before {
  background-position: 0 -6048px; }
.icon-intlpn-flag.rs:before {
  background-position: 0 -6080px; }
.icon-intlpn-flag.ru:before {
  background-position: 0 -6112px; }
.icon-intlpn-flag.rw:before {
  background-position: 0 -6144px; }
.icon-intlpn-flag.sa:before {
  background-position: 0 -6176px; }
.icon-intlpn-flag.sb:before {
  background-position: 0 -6208px; }
.icon-intlpn-flag.sc:before {
  background-position: 0 -6240px; }
.icon-intlpn-flag.sd:before {
  background-position: 0 -6272px; }
.icon-intlpn-flag.se:before {
  background-position: 0 -6304px; }
.icon-intlpn-flag.sg:before {
  background-position: 0 -6336px; }
.icon-intlpn-flag.sh:before {
  background-position: 0 -6368px; }
.icon-intlpn-flag.si:before {
  background-position: 0 -6400px; }
.icon-intlpn-flag.sk:before {
  background-position: 0 -6432px; }
.icon-intlpn-flag.sl:before {
  background-position: 0 -6464px; }
.icon-intlpn-flag.sm:before {
  background-position: 0 -6496px; }
.icon-intlpn-flag.sn:before {
  background-position: 0 -6528px; }
.icon-intlpn-flag.so:before {
  background-position: 0 -6560px; }
.icon-intlpn-flag.sr:before {
  background-position: 0 -6592px; }
.icon-intlpn-flag.ss:before {
  background-position: 0 -6624px; }
.icon-intlpn-flag.st:before {
  background-position: 0 -6656px; }
.icon-intlpn-flag.sv:before {
  background-position: 0 -6688px; }
.icon-intlpn-flag.sx:before {
  background-position: 0 -6720px; }
.icon-intlpn-flag.sy:before {
  background-position: 0 -6752px; }
.icon-intlpn-flag.sz:before {
  background-position: 0 -6784px; }
.icon-intlpn-flag.tc:before {
  background-position: 0 -6816px; }
.icon-intlpn-flag.td:before {
  background-position: 0 -6848px; }
.icon-intlpn-flag.tf:before {
  background-position: 0 -6880px; }
.icon-intlpn-flag.tg:before {
  background-position: 0 -6912px; }
.icon-intlpn-flag.th:before {
  background-position: 0 -6944px; }
.icon-intlpn-flag.tj:before {
  background-position: 0 -6976px; }
.icon-intlpn-flag.tk:before {
  background-position: 0 -7008px; }
.icon-intlpn-flag.tl:before {
  background-position: 0 -7040px; }
.icon-intlpn-flag.tm:before {
  background-position: 0 -7072px; }
.icon-intlpn-flag.tn:before {
  background-position: 0 -7104px; }
.icon-intlpn-flag.to:before {
  background-position: 0 -7136px; }
.icon-intlpn-flag.tr:before {
  background-position: 0 -7168px; }
.icon-intlpn-flag.tt:before {
  background-position: 0 -7200px; }
.icon-intlpn-flag.tv:before {
  background-position: 0 -7232px; }
.icon-intlpn-flag.tw:before {
  background-position: 0 -7264px; }
.icon-intlpn-flag.tz:before {
  background-position: 0 -7296px; }
.icon-intlpn-flag.ua:before {
  background-position: 0 -7328px; }
.icon-intlpn-flag.ug:before {
  background-position: 0 -7360px; }
.icon-intlpn-flag.us:before {
  background-position: 0 -7392px; }
.icon-intlpn-flag.uy:before {
  background-position: 0 -7424px; }
.icon-intlpn-flag.uz:before {
  background-position: 0 -7456px; }
.icon-intlpn-flag.va:before {
  background-position: 0 -7488px; }
.icon-intlpn-flag.vc:before {
  background-position: 0 -7520px; }
.icon-intlpn-flag.ve:before {
  background-position: 0 -7552px; }
.icon-intlpn-flag.vg:before {
  background-position: 0 -7584px; }
.icon-intlpn-flag.vi:before {
  background-position: 0 -7616px; }
.icon-intlpn-flag.vn:before {
  background-position: 0 -7648px; }
.icon-intlpn-flag.vu:before {
  background-position: 0 -7680px; }
.icon-intlpn-flag.wf:before {
  background-position: 0 -7712px; }
.icon-intlpn-flag.ws:before {
  background-position: 0 -7744px; }
.icon-intlpn-flag.ye:before {
  background-position: 0 -7776px; }
.icon-intlpn-flag.yt:before {
  background-position: 0 -7808px; }
.icon-intlpn-flag.za:before {
  background-position: 0 -7840px; }
.icon-intlpn-flag.zm:before {
  background-position: 0 -7872px; }
.icon-intlpn-flag.zw:before {
  background-position: 0 -7904px; }
.icon-intlpn-flag._abkhazia:before {
  background-position: 0 -7936px; }
.icon-intlpn-flag._basque-country:before {
  background-position: 0 -7968px; }
.icon-intlpn-flag._british-antarctic-territory:before {
  background-position: 0 -8000px; }
.icon-intlpn-flag._commonwealth:before {
  background-position: 0 -8032px; }
.icon-intlpn-flag._england:before {
  background-position: 0 -8064px; }
.icon-intlpn-flag._gosquared:before {
  background-position: 0 -8096px; }
.icon-intlpn-flag._kosovo:before {
  background-position: 0 -8128px; }
.icon-intlpn-flag._mars:before {
  background-position: 0 -8160px; }
.icon-intlpn-flag._nagorno-karabakh:before {
  background-position: 0 -8192px; }
.icon-intlpn-flag._nato:before {
  background-position: 0 -8224px; }
.icon-intlpn-flag._northern-cyprus:before {
  background-position: 0 -8256px; }
.icon-intlpn-flag._olympics:before {
  background-position: 0 -8288px; }
.icon-intlpn-flag._red-cross:before {
  background-position: 0 -8320px; }
.icon-intlpn-flag._scotland:before {
  background-position: 0 -8352px; }
.icon-intlpn-flag._somaliland:before {
  background-position: 0 -8384px; }
.icon-intlpn-flag._south-ossetia:before {
  background-position: 0 -8416px; }
.icon-intlpn-flag._united-nations:before {
  background-position: 0 -8448px; }
.icon-intlpn-flag._unknown:before {
  background-position: 0 -8480px; }
.icon-intlpn-flag._wales:before {
  background-position: 0 -8512px; }

/*# sourceMappingURL=intlpn.css.map */
