$originalflagHeight: 64px !default;
$originalflagWidth: 64px !default;
$desiredflagHeight: 32px !default;
$desiredflagWidth: 32px !default;
$factor: $originalflagHeight / $desiredflagHeight;

.icon-intlpn-flag {
    width: $desiredflagWidth*1.5;
}
.icon-intlpn-flag:before {
  content: '';
  width: $desiredflagWidth;
  height: $desiredflagHeight;
  //box-shadow: 0px 0px 1px 0px #888;
  //background-image: url("#{$flagsImagePath}#{$flagsImageName}.#{$flagsImageExtension}");
  background-repeat: no-repeat;
  // empty state
  background-color: transparent;
  //background-position: $flagWidth 0;
  display: inline-block;
  vertical-align:middle;
}

// hack for Nepal which is the only flag that is not square/rectangle, so it has transparency, so you can see the default grey behind it
.icon-intlpn-flag.np:before {
  background-color: transparent;
}

.icon-intlpn-flag, .icon-intlpn-flag.ad, .icon-intlpn-flag.ae, .icon-intlpn-flag.af, .icon-intlpn-flag.ag, .icon-intlpn-flag.ai, .icon-intlpn-flag.al, .icon-intlpn-flag.am, .icon-intlpn-flag.an, .icon-intlpn-flag.ao, .icon-intlpn-flag.aq, .icon-intlpn-flag.ar, .icon-intlpn-flag.as, .icon-intlpn-flag.at, .icon-intlpn-flag.au, .icon-intlpn-flag.aw, .icon-intlpn-flag.ax, .icon-intlpn-flag.az, .icon-intlpn-flag.ba, .icon-intlpn-flag.bb, .icon-intlpn-flag.bd, .icon-intlpn-flag.be, .icon-intlpn-flag.bf, .icon-intlpn-flag.bg, .icon-intlpn-flag.bh, .icon-intlpn-flag.bi, .icon-intlpn-flag.bj, .icon-intlpn-flag.bl, .icon-intlpn-flag.bm, .icon-intlpn-flag.bn, .icon-intlpn-flag.bo, .icon-intlpn-flag.br, .icon-intlpn-flag.bs, .icon-intlpn-flag.bt, .icon-intlpn-flag.bw, .icon-intlpn-flag.by, .icon-intlpn-flag.bz, .icon-intlpn-flag.ca, .icon-intlpn-flag.cc, .icon-intlpn-flag.cd, .icon-intlpn-flag.cf, .icon-intlpn-flag.cg, .icon-intlpn-flag.ch, .icon-intlpn-flag.ci, .icon-intlpn-flag.ck, .icon-intlpn-flag.cl, .icon-intlpn-flag.cm, .icon-intlpn-flag.cn, .icon-intlpn-flag.co, .icon-intlpn-flag.cr, .icon-intlpn-flag.cu, .icon-intlpn-flag.cv, .icon-intlpn-flag.cw, .icon-intlpn-flag.cx, .icon-intlpn-flag.cy, .icon-intlpn-flag.cz, .icon-intlpn-flag.de, .icon-intlpn-flag.dj, .icon-intlpn-flag.dk, .icon-intlpn-flag.dm, .icon-intlpn-flag.do, .icon-intlpn-flag.dz, .icon-intlpn-flag.ec, .icon-intlpn-flag.ee, .icon-intlpn-flag.eg, .icon-intlpn-flag.eh, .icon-intlpn-flag.er, .icon-intlpn-flag.es, .icon-intlpn-flag.et, .icon-intlpn-flag.eu, .icon-intlpn-flag.fi, .icon-intlpn-flag.fj, .icon-intlpn-flag.fk, .icon-intlpn-flag.fm, .icon-intlpn-flag.fo, .icon-intlpn-flag.fr, .icon-intlpn-flag.ga, .icon-intlpn-flag.gb, .icon-intlpn-flag.gd, .icon-intlpn-flag.ge, .icon-intlpn-flag.gg, .icon-intlpn-flag.gh, .icon-intlpn-flag.gi, .icon-intlpn-flag.gl, .icon-intlpn-flag.gm, .icon-intlpn-flag.gn, .icon-intlpn-flag.gq, .icon-intlpn-flag.gr, .icon-intlpn-flag.gs, .icon-intlpn-flag.gt, .icon-intlpn-flag.gu, .icon-intlpn-flag.gw, .icon-intlpn-flag.gy, .icon-intlpn-flag.hk, .icon-intlpn-flag.hn, .icon-intlpn-flag.hr, .icon-intlpn-flag.ht, .icon-intlpn-flag.hu, .icon-intlpn-flag.ic, .icon-intlpn-flag.id, .icon-intlpn-flag.ie, .icon-intlpn-flag.il, .icon-intlpn-flag.im, .icon-intlpn-flag.in, .icon-intlpn-flag.iq, .icon-intlpn-flag.ir, .icon-intlpn-flag.is, .icon-intlpn-flag.it, .icon-intlpn-flag.je, .icon-intlpn-flag.jm, .icon-intlpn-flag.jo, .icon-intlpn-flag.jp, .icon-intlpn-flag.ke, .icon-intlpn-flag.kg, .icon-intlpn-flag.kh, .icon-intlpn-flag.ki, .icon-intlpn-flag.km, .icon-intlpn-flag.kn, .icon-intlpn-flag.kp, .icon-intlpn-flag.kr, .icon-intlpn-flag.kw, .icon-intlpn-flag.ky, .icon-intlpn-flag.kz, .icon-intlpn-flag.la, .icon-intlpn-flag.lb, .icon-intlpn-flag.lc, .icon-intlpn-flag.li, .icon-intlpn-flag.lk, .icon-intlpn-flag.lr, .icon-intlpn-flag.ls, .icon-intlpn-flag.lt, .icon-intlpn-flag.lu, .icon-intlpn-flag.lv, .icon-intlpn-flag.ly, .icon-intlpn-flag.ma, .icon-intlpn-flag.mc, .icon-intlpn-flag.md, .icon-intlpn-flag.me, .icon-intlpn-flag.mf, .icon-intlpn-flag.mg, .icon-intlpn-flag.mh, .icon-intlpn-flag.mk, .icon-intlpn-flag.ml, .icon-intlpn-flag.mm, .icon-intlpn-flag.mn, .icon-intlpn-flag.mo, .icon-intlpn-flag.mp, .icon-intlpn-flag.mq, .icon-intlpn-flag.mr, .icon-intlpn-flag.ms, .icon-intlpn-flag.mt, .icon-intlpn-flag.mu, .icon-intlpn-flag.mv, .icon-intlpn-flag.mw, .icon-intlpn-flag.mx, .icon-intlpn-flag.my, .icon-intlpn-flag.mz, .icon-intlpn-flag.na, .icon-intlpn-flag.nc, .icon-intlpn-flag.ne, .icon-intlpn-flag.nf, .icon-intlpn-flag.ng, .icon-intlpn-flag.ni, .icon-intlpn-flag.nl, .icon-intlpn-flag.no, .icon-intlpn-flag.np, .icon-intlpn-flag.nr, .icon-intlpn-flag.nu, .icon-intlpn-flag.nz, .icon-intlpn-flag.om, .icon-intlpn-flag.pa, .icon-intlpn-flag.pe, .icon-intlpn-flag.pf, .icon-intlpn-flag.pg, .icon-intlpn-flag.ph, .icon-intlpn-flag.pk, .icon-intlpn-flag.pl, .icon-intlpn-flag.pn, .icon-intlpn-flag.pr, .icon-intlpn-flag.ps, .icon-intlpn-flag.pt, .icon-intlpn-flag.pw, .icon-intlpn-flag.py, .icon-intlpn-flag.qa, .icon-intlpn-flag.ro, .icon-intlpn-flag.rs, .icon-intlpn-flag.ru, .icon-intlpn-flag.rw, .icon-intlpn-flag.sa, .icon-intlpn-flag.sb, .icon-intlpn-flag.sc, .icon-intlpn-flag.sd, .icon-intlpn-flag.se, .icon-intlpn-flag.sg, .icon-intlpn-flag.sh, .icon-intlpn-flag.si, .icon-intlpn-flag.sk, .icon-intlpn-flag.sl, .icon-intlpn-flag.sm, .icon-intlpn-flag.sn, .icon-intlpn-flag.so, .icon-intlpn-flag.sr, .icon-intlpn-flag.ss, .icon-intlpn-flag.st, .icon-intlpn-flag.sv, .icon-intlpn-flag.sy, .icon-intlpn-flag.sz, .icon-intlpn-flag.tc, .icon-intlpn-flag.td, .icon-intlpn-flag.tf, .icon-intlpn-flag.tg, .icon-intlpn-flag.th, .icon-intlpn-flag.tj, .icon-intlpn-flag.tk, .icon-intlpn-flag.tl, .icon-intlpn-flag.tm, .icon-intlpn-flag.tn, .icon-intlpn-flag.to, .icon-intlpn-flag.tr, .icon-intlpn-flag.tt, .icon-intlpn-flag.tv, .icon-intlpn-flag.tw, .icon-intlpn-flag.tz, .icon-intlpn-flag.ua, .icon-intlpn-flag.ug, .icon-intlpn-flag.us, .icon-intlpn-flag.uy, .icon-intlpn-flag.uz, .icon-intlpn-flag.va, .icon-intlpn-flag.vc, .icon-intlpn-flag.ve, .icon-intlpn-flag.vg, .icon-intlpn-flag.vi, .icon-intlpn-flag.vn, .icon-intlpn-flag.vu, .icon-intlpn-flag.wf, .icon-intlpn-flag.ws, .icon-intlpn-flag.ye, .icon-intlpn-flag.yt, .icon-intlpn-flag.za, .icon-intlpn-flag.zm, .icon-intlpn-flag.zw, .icon-intlpn-flag._abkhazia, .icon-intlpn-flag._basque-country, .icon-intlpn-flag._british-antarctic-territory, .icon-intlpn-flag._commonwealth, .icon-intlpn-flag._england, .icon-intlpn-flag._gosquared, .icon-intlpn-flag._kosovo, .icon-intlpn-flag._mars, .icon-intlpn-flag._nagorno-karabakh, .icon-intlpn-flag._nato, .icon-intlpn-flag._northern-cyprus, .icon-intlpn-flag._olympics, .icon-intlpn-flag._red-cross, .icon-intlpn-flag._scotland, .icon-intlpn-flag._somaliland, .icon-intlpn-flag._south-ossetia, .icon-intlpn-flag._united-nations, .icon-intlpn-flag._unknown, .icon-intlpn-flag._wales, .icon-intlpn-flag.io, , .icon-intlpn-flag.bq, .icon-intlpn-flag.gf, .icon-intlpn-flag.gp, .icon-intlpn-flag.re, .icon-intlpn-flag.pm, .icon-intlpn-flag.sx {
    &:before {
        background-image: url('../img/intlpn-flags.png');
        background-repeat: no-repeat;
        background-size: 64px/$factor 17088px/$factor;
        height:64px/$factor;
        width:64px/$factor;
        background-position: 0 -16960px/$factor;
    }
}
.icon-intlpn-flag {
    &.none:before {
        background-image:none;
        background-color:#f8f8f8;
        content: '?';
        text-align: center;
        vertical-align: middle;
        line-height: $desiredflagHeight;
        color: #999;
        font-weight: bold;
    }

&.ad:before {
  background-position: 0 0; }

&.ae:before {
  background-position: 0 -64px/$factor; }

&.af:before {
  background-position: 0 -128px/$factor; }

&.ag:before {
  background-position: 0 -192px/$factor; }

&.ai:before {
  background-position: 0 -256px/$factor; }

&.al:before {
  background-position: 0 -320px/$factor; }

&.am:before {
  background-position: 0 -384px/$factor; }

&.an:before {
  background-position: 0 -448px/$factor; }

&.ao:before {
  background-position: 0 -512px/$factor; }

&.aq:before {
  background-position: 0 -576px/$factor; }

&.ar:before {
  background-position: 0 -640px/$factor; }

&.as:before {
  background-position: 0 -704px/$factor; }

&.at:before {
  background-position: 0 -768px/$factor; }

&.au:before {
  background-position: 0 -832px/$factor; }

&.aw:before {
  background-position: 0 -896px/$factor; }

&.ax:before {
  background-position: 0 -960px/$factor; }

&.az:before {
  background-position: 0 -1024px/$factor; }

&.ba:before {
  background-position: 0 -1088px/$factor; }

&.bb:before {
  background-position: 0 -1152px/$factor; }

&.bd:before {
  background-position: 0 -1216px/$factor; }

&.be:before {
  background-position: 0 -1280px/$factor; }

&.bf:before {
  background-position: 0 -1344px/$factor; }

&.bg:before {
  background-position: 0 -1408px/$factor; }

&.bh:before {
  background-position: 0 -1472px/$factor; }

&.bi:before {
  background-position: 0 -1536px/$factor; }

&.bj:before {
  background-position: 0 -1600px/$factor; }

&.bl:before {
  background-position: 0 -1664px/$factor; }

&.bm:before {
  background-position: 0 -1728px/$factor; }

&.bn:before {
  background-position: 0 -1792px/$factor; }

&.bo:before {
  background-position: 0 -1856px/$factor; }

&.bq:before {
  background-position: 0 -1920px/$factor; }

&.br:before {
  background-position: 0 -1984px/$factor; }

&.bs:before {
  background-position: 0 -2048px/$factor; }

&.bt:before {
  background-position: 0 -2112px/$factor; }

&.bw:before {
  background-position: 0 -2176px/$factor; }

&.by:before {
  background-position: 0 -2240px/$factor; }

&.bz:before {
  background-position: 0 -2304px/$factor; }

&.ca:before {
  background-position: 0 -2368px/$factor; }

&.cc:before {
  background-position: 0 -2432px/$factor; }

&.cd:before {
  background-position: 0 -2496px/$factor; }

&.cf:before {
  background-position: 0 -2560px/$factor; }

&.cg:before {
  background-position: 0 -2624px/$factor; }

&.ch:before {
  background-position: 0 -2688px/$factor; }

&.ci:before {
  background-position: 0 -2752px/$factor; }

&.ck:before {
  background-position: 0 -2816px/$factor; }

&.cl:before {
  background-position: 0 -2880px/$factor; }

&.cm:before {
  background-position: 0 -2944px/$factor; }

&.cn:before {
  background-position: 0 -3008px/$factor; }

&.co:before {
  background-position: 0 -3072px/$factor; }

&.cr:before {
  background-position: 0 -3136px/$factor; }

&.cu:before {
  background-position: 0 -3200px/$factor; }

&.cv:before {
  background-position: 0 -3264px/$factor; }

&.cw:before {
  background-position: 0 -3328px/$factor; }

&.cx:before {
  background-position: 0 -3392px/$factor; }

&.cy:before {
  background-position: 0 -3456px/$factor; }

&.cz:before {
  background-position: 0 -3520px/$factor; }

&.de:before {
  background-position: 0 -3584px/$factor; }

&.dj:before {
  background-position: 0 -3648px/$factor; }

&.dk:before {
  background-position: 0 -3712px/$factor; }

&.dm:before {
  background-position: 0 -3776px/$factor; }

&.do:before {
  background-position: 0 -3840px/$factor; }

&.dz:before {
  background-position: 0 -3904px/$factor; }

&.ec:before {
  background-position: 0 -3968px/$factor; }

&.ee:before {
  background-position: 0 -4032px/$factor; }

&.eg:before {
  background-position: 0 -4096px/$factor; }

&.eh:before {
  background-position: 0 -4160px/$factor; }

&.er:before {
  background-position: 0 -4224px/$factor; }

&.es:before {
  background-position: 0 -4288px/$factor; }

&.et:before {
  background-position: 0 -4352px/$factor; }

&.eu:before {
  background-position: 0 -4416px/$factor; }

&.fi:before {
  background-position: 0 -4480px/$factor; }

&.fj:before {
  background-position: 0 -4544px/$factor; }

&.fk:before {
  background-position: 0 -4608px/$factor; }

&.fm:before {
  background-position: 0 -4672px/$factor; }

&.fo:before {
  background-position: 0 -4736px/$factor; }

&.fr:before {
  background-position: 0 -4800px/$factor; }

&.ga:before {
  background-position: 0 -4864px/$factor; }

&.gb:before {
  background-position: 0 -4928px/$factor; }

&.gd:before {
  background-position: 0 -4992px/$factor; }

&.ge:before {
  background-position: 0 -5056px/$factor; }

&.gf:before {
  background-position: 0 -5120px/$factor; }

&.gg:before {
  background-position: 0 -5184px/$factor; }

&.gh:before {
  background-position: 0 -5248px/$factor; }

&.gi:before {
  background-position: 0 -5312px/$factor; }

&.gl:before {
  background-position: 0 -5376px/$factor; }

&.gm:before {
  background-position: 0 -5440px/$factor; }

&.gn:before {
  background-position: 0 -5504px/$factor; }

&.gp:before {
  background-position: 0 -5568px/$factor; }

&.gq:before {
  background-position: 0 -5632px/$factor; }

&.gr:before {
  background-position: 0 -5696px/$factor; }

&.gs:before {
  background-position: 0 -5760px/$factor; }

&.gt:before {
  background-position: 0 -5824px/$factor; }

&.gu:before {
  background-position: 0 -5888px/$factor; }

&.gw:before {
  background-position: 0 -5952px/$factor; }

&.gy:before {
  background-position: 0 -6016px/$factor; }

&.hk:before {
  background-position: 0 -6080px/$factor; }

&.hn:before {
  background-position: 0 -6144px/$factor; }

&.hr:before {
  background-position: 0 -6208px/$factor; }

&.ht:before {
  background-position: 0 -6272px/$factor; }

&.hu:before {
  background-position: 0 -6336px/$factor; }

&.ic:before {
  background-position: 0 -6400px/$factor; }

&.id:before {
  background-position: 0 -6464px/$factor; }

&.ie:before {
  background-position: 0 -6528px/$factor; }

&.il:before {
  background-position: 0 -6592px/$factor; }

&.im:before {
  background-position: 0 -6656px/$factor; }

&.in:before {
  background-position: 0 -6720px/$factor; }

&.io:before {
  background-position: 0 -6784px/$factor; }

&.iq:before {
  background-position: 0 -6848px/$factor; }

&.ir:before {
  background-position: 0 -6912px/$factor; }

&.is:before {
  background-position: 0 -6976px/$factor; }

&.it:before {
  background-position: 0 -7040px/$factor; }

&.je:before {
  background-position: 0 -7104px/$factor; }

&.jm:before {
  background-position: 0 -7168px/$factor; }

&.jo:before {
  background-position: 0 -7232px/$factor; }

&.jp:before {
  background-position: 0 -7296px/$factor; }

&.ke:before {
  background-position: 0 -7360px/$factor; }

&.kg:before {
  background-position: 0 -7424px/$factor; }

&.kh:before {
  background-position: 0 -7488px/$factor; }

&.ki:before {
  background-position: 0 -7552px/$factor; }

&.km:before {
  background-position: 0 -7616px/$factor; }

&.kn:before {
  background-position: 0 -7680px/$factor; }

&.kp:before {
  background-position: 0 -7744px/$factor; }

&.kr:before {
  background-position: 0 -7808px/$factor; }

&.kw:before {
  background-position: 0 -7872px/$factor; }

&.ky:before {
  background-position: 0 -7936px/$factor; }

&.kz:before {
  background-position: 0 -8000px/$factor; }

&.la:before {
  background-position: 0 -8064px/$factor; }

&.lb:before {
  background-position: 0 -8128px/$factor; }

&.lc:before {
  background-position: 0 -8192px/$factor; }

&.li:before {
  background-position: 0 -8256px/$factor; }

&.lk:before {
  background-position: 0 -8320px/$factor; }

&.lr:before {
  background-position: 0 -8384px/$factor; }

&.ls:before {
  background-position: 0 -8448px/$factor; }

&.lt:before {
  background-position: 0 -8512px/$factor; }

&.lu:before {
  background-position: 0 -8576px/$factor; }

&.lv:before {
  background-position: 0 -8640px/$factor; }

&.ly:before {
  background-position: 0 -8704px/$factor; }

&.ma:before {
  background-position: 0 -8768px/$factor; }

&.mc:before {
  background-position: 0 -8832px/$factor; }

&.md:before {
  background-position: 0 -8896px/$factor; }

&.me:before {
  background-position: 0 -8960px/$factor; }

&.mf:before {
  background-position: 0 -9024px/$factor; }

&.mg:before {
  background-position: 0 -9088px/$factor; }

&.mh:before {
  background-position: 0 -9152px/$factor; }

&.mk:before {
  background-position: 0 -9216px/$factor; }

&.ml:before {
  background-position: 0 -9280px/$factor; }

&.mm:before {
  background-position: 0 -9344px/$factor; }

&.mn:before {
  background-position: 0 -9408px/$factor; }

&.mo:before {
  background-position: 0 -9472px/$factor; }

&.mp:before {
  background-position: 0 -9536px/$factor; }

&.mq:before {
  background-position: 0 -9600px/$factor; }

&.mr:before {
  background-position: 0 -9664px/$factor; }

&.ms:before {
  background-position: 0 -9728px/$factor; }

&.mt:before {
  background-position: 0 -9792px/$factor; }

&.mu:before {
  background-position: 0 -9856px/$factor; }

&.mv:before {
  background-position: 0 -9920px/$factor; }

&.mw:before {
  background-position: 0 -9984px/$factor; }

&.mx:before {
  background-position: 0 -10048px/$factor; }

&.my:before {
  background-position: 0 -10112px/$factor; }

&.mz:before {
  background-position: 0 -10176px/$factor; }

&.na:before {
  background-position: 0 -10240px/$factor; }

&.nc:before {
  background-position: 0 -10304px/$factor; }

&.ne:before {
  background-position: 0 -10368px/$factor; }

&.nf:before {
  background-position: 0 -10432px/$factor; }

&.ng:before {
  background-position: 0 -10496px/$factor; }

&.ni:before {
  background-position: 0 -10560px/$factor; }

&.nl:before {
  background-position: 0 -10624px/$factor; }

&.no:before {
  background-position: 0 -10688px/$factor; }

&.np:before {
  background-position: 0 -10752px/$factor; }

&.nr:before {
  background-position: 0 -10816px/$factor; }

&.nu:before {
  background-position: 0 -10880px/$factor; }

&.nz:before {
  background-position: 0 -10944px/$factor; }

&.om:before {
  background-position: 0 -11008px/$factor; }

&.pa:before {
  background-position: 0 -11072px/$factor; }

&.pe:before {
  background-position: 0 -11136px/$factor; }

&.pf:before {
  background-position: 0 -11200px/$factor; }

&.pg:before {
  background-position: 0 -11264px/$factor; }

&.ph:before {
  background-position: 0 -11328px/$factor; }

&.pk:before {
  background-position: 0 -11392px/$factor; }

&.pl:before {
  background-position: 0 -11456px/$factor; }

&.pm:before {
  background-position: 0 -11520px/$factor; }

&.pn:before {
  background-position: 0 -11584px/$factor; }

&.pr:before {
  background-position: 0 -11648px/$factor; }

&.ps:before {
  background-position: 0 -11712px/$factor; }

&.pt:before {
  background-position: 0 -11776px/$factor; }

&.pw:before {
  background-position: 0 -11840px/$factor; }

&.py:before {
  background-position: 0 -11904px/$factor; }

&.qa:before {
  background-position: 0 -11968px/$factor; }

&.re:before {
  background-position: 0 -12032px/$factor; }

&.ro:before {
  background-position: 0 -12096px/$factor; }

&.rs:before {
  background-position: 0 -12160px/$factor; }

&.ru:before {
  background-position: 0 -12224px/$factor; }

&.rw:before {
  background-position: 0 -12288px/$factor; }

&.sa:before {
  background-position: 0 -12352px/$factor; }

&.sb:before {
  background-position: 0 -12416px/$factor; }

&.sc:before {
  background-position: 0 -12480px/$factor; }

&.sd:before {
  background-position: 0 -12544px/$factor; }

&.se:before {
  background-position: 0 -12608px/$factor; }

&.sg:before {
  background-position: 0 -12672px/$factor; }

&.sh:before {
  background-position: 0 -12736px/$factor; }

&.si:before {
  background-position: 0 -12800px/$factor; }

&.sk:before {
  background-position: 0 -12864px/$factor; }

&.sl:before {
  background-position: 0 -12928px/$factor; }

&.sm:before {
  background-position: 0 -12992px/$factor; }

&.sn:before {
  background-position: 0 -13056px/$factor; }

&.so:before {
  background-position: 0 -13120px/$factor; }

&.sr:before {
  background-position: 0 -13184px/$factor; }

&.ss:before {
  background-position: 0 -13248px/$factor; }

&.st:before {
  background-position: 0 -13312px/$factor; }

&.sv:before {
  background-position: 0 -13376px/$factor; }

&.sx:before {
  background-position: 0 -13440px/$factor; }

&.sy:before {
  background-position: 0 -13504px/$factor; }

&.sz:before {
  background-position: 0 -13568px/$factor; }

&.tc:before {
  background-position: 0 -13632px/$factor; }

&.td:before {
  background-position: 0 -13696px/$factor; }

&.tf:before {
  background-position: 0 -13760px/$factor; }

&.tg:before {
  background-position: 0 -13824px/$factor; }

&.th:before {
  background-position: 0 -13888px/$factor; }

&.tj:before {
  background-position: 0 -13952px/$factor; }

&.tk:before {
  background-position: 0 -14016px/$factor; }

&.tl:before {
  background-position: 0 -14080px/$factor; }

&.tm:before {
  background-position: 0 -14144px/$factor; }

&.tn:before {
  background-position: 0 -14208px/$factor; }

&.to:before {
  background-position: 0 -14272px/$factor; }

&.tr:before {
  background-position: 0 -14336px/$factor; }

&.tt:before {
  background-position: 0 -14400px/$factor; }

&.tv:before {
  background-position: 0 -14464px/$factor; }

&.tw:before {
  background-position: 0 -14528px/$factor; }

&.tz:before {
  background-position: 0 -14592px/$factor; }

&.ua:before {
  background-position: 0 -14656px/$factor; }

&.ug:before {
  background-position: 0 -14720px/$factor; }

&.us:before {
  background-position: 0 -14784px/$factor; }

&.uy:before {
  background-position: 0 -14848px/$factor; }

&.uz:before {
  background-position: 0 -14912px/$factor; }

&.va:before {
  background-position: 0 -14976px/$factor; }

&.vc:before {
  background-position: 0 -15040px/$factor; }

&.ve:before {
  background-position: 0 -15104px/$factor; }

&.vg:before {
  background-position: 0 -15168px/$factor; }

&.vi:before {
  background-position: 0 -15232px/$factor; }

&.vn:before {
  background-position: 0 -15296px/$factor; }

&.vu:before {
  background-position: 0 -15360px/$factor; }

&.wf:before {
  background-position: 0 -15424px/$factor; }

&.ws:before {
  background-position: 0 -15488px/$factor; }

&.ye:before {
  background-position: 0 -15552px/$factor; }

&.yt:before {
  background-position: 0 -15616px/$factor; }

&.za:before {
  background-position: 0 -15680px/$factor; }

&.zm:before {
  background-position: 0 -15744px/$factor; }

&.zw:before {
  background-position: 0 -15808px/$factor; }

&._abkhazia:before {
  background-position: 0 -15872px/$factor; }

&._basque-country:before {
  background-position: 0 -15936px/$factor; }

&._british-antarctic-territory:before {
  background-position: 0 -16000px/$factor; }

&._commonwealth:before {
  background-position: 0 -16064px/$factor; }

&._england:before {
  background-position: 0 -16128px/$factor; }

&._gosquared:before {
  background-position: 0 -16192px/$factor; }

&._kosovo:before {
  background-position: 0 -16256px/$factor; }

&._mars:before {
  background-position: 0 -16320px/$factor; }

&._nagorno-karabakh:before {
  background-position: 0 -16384px/$factor; }

&._nato:before {
  background-position: 0 -16448px/$factor; }

&._northern-cyprus:before {
  background-position: 0 -16512px/$factor; }

&._olympics:before {
  background-position: 0 -16576px/$factor; }

&._red-cross:before {
  background-position: 0 -16640px/$factor; }

&._scotland:before {
  background-position: 0 -16704px/$factor; }

&._somaliland:before {
  background-position: 0 -16768px/$factor; }

&._south-ossetia:before {
  background-position: 0 -16832px/$factor; }

&._united-nations:before {
  background-position: 0 -16896px/$factor; }

&._unknown:before {
  background-position: 0 -16960px/$factor; }

&._wales:before {
  background-position: 0 -17024px/$factor; }


}
